doctype html
html(lang="en")
  head
    title= 'WaffleJS · A night of code, waffles, and karaoke.'
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='stylesheets/outputs/normalize.css')
    link(rel='stylesheet', href='stylesheets/outputs/flexboxgrid.min.css')
    link(rel='stylesheet', type="text/css", href='https://cloud.typography.com/7886252/634328/css/fonts.css')
    link(rel='stylesheet', type="text/css", href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', href='stylesheets/outputs/style.css')
  body
    section.hero
      .container-fluid
        .row.between-md.bottom-xs
          .col-xs-12.col-sm-7.headline
            a(name='intro')
            h3.logotype.accent WaffleJS
            h1 A night of code, waffles, and karaoke.
            h3
              | All proceeds go to 
              a(href='http://girlswhocode.com/') Girls Who Code
              | .
          .col-xs-12.col-sm-5.details
            ul
              li
                h4.text-muted Date & Time
                h3 Wednesday, November 4 at 7 PM
              li
                h4.text-muted Location
                h3
                  a(href='https://goo.gl/maps/0gkOe') SOMA StrEat Food 
                  | (in the 
                  a(href='http://wafflejs.com/map') barn
                  | )
      .cover-photo
      //- .cover-photo.show-md.hide-sm
    section.sponsors: .container-fluid: .row.between-md.middle-xs
      .col-xs-12.col-md-5.sponsor
        img(src='images/newrelic.svg')
        img(src='images/opendoor.svg')
        p
         | This month's WaffleJS is sponsored by 
         a(href='https://www.newrelic.com/jobs') New Relic
         |  and 
         a(href='https://www.opendoor.com/jobs') Opendoor
         | .
        a.button(href='sponsorship') Sponsorship Details
      .col-xs-12.col-md-6.photo
        img(src='images/photo-2.jpg')

    include ./views/schedules/2015-11.jade
    section.schedule: .container-fluid
      a(name='schedule')
      h2 Schedule
      .row.between-xs
        .col-xs-12.col-md-6: ul.schedule-items
          each item in schedule
            if item.type
              li
                .time
                  h4
                    | #{item.time} 
                    span.hide-lg &middot; #{item.type}
                  h4.show-lg #{item.type}
                h4
                  each person, index in item.people
                    a(href='https://www.twitter.com/#{person.handle}') #{person.name} &middot; @#{person.handle} 
                    if index !== item.people.length - 1
                      span.text-muted & 
                h3 #{item.title}
                p #{item.description}
            else
              li.no-description
                .time: h4 #{item.time}
                h3 #{item.title}
        .col-md-5.first-xs.last-md: ul.images
          li: img(src='images/computer.svg')
          li: img(src='images/waffle.svg')
          li: img(src='images/microphone.svg')
    
    section.about: .container-fluid
      a(name='about')
      h2 About
      .row.between-xs
        .col-xs-12.col-md-6
          h3 Summary
          p WaffleJS is a meetup about web technology with a side of waffles and karaoke. We meet the first Wednesday of every month.
          p It’s co-organized by 
            a(href='https://twitter.com/visnup') Visnu
            | , 
            a(href='https://twitter.com/billyroh') Billy
            | , and 
            a(href='https://twitter.com/kng') Kelly 
            | and hosted by Visnu and 
            a(href='https://twitter.com/nexxylove') Emily
            | .
        .col-xs-12.col-md-6
          h3 Code of Conduct
          p All participants are expected to follow the 
            a(href='http://jsconf.com/codeofconduct.html') JSConf Code of Conduct.
    
    section.get-involved: .container-fluid
      a(name='get-involved')
      h2 Get Involved
      .row.between-xs
        .col-xs-12.col-md-6
          h3 Call for Speakers
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sed.
          a.button(href='') Speaker Details
        .col-xs-12.col-md-6
          h3 Call for Performers
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra sed.
          a.button(href='') Performer Details
    
    section.transparency: .container-fluid
      a(name='get-involved')
      h2 Transparency
      .row.between-xs
        .col-xs-12.col-md-6
          h3 Finance
          p We donate all proceeds every month. Check out 
            a(href='https://docs.google.com/spreadsheets/d/1D3_RS7sMBZZxJRSmrTM_3Rf0ZyTfD3ApbftW8TwZ468/') our spreadsheet 
            | to learn more.
        .col-xs-12.col-md-6
          h3 Planning
          p We plan everything out in the open. We track our issues on 
            a(href='https://github.com/wafflejs/wafflejs.github.io/issues') GitHub 
            | and organize on 
            a(href='http://slack.borojs.com/') Slack
            | . Feel free to join and say hi!
      
    
    include ./views/footer.jade
